<legend>Вакансии</legend>

<table id="tasks-table" class="table table-striped">
  <% if (show_header) { %>
  <tr>
    <th>Вакансия</th>
    <% if (show_description_as == "column") { %>
      <th>Описание</th>
    <% } %>
  </tr>
  <% } else { %>
    <tbody></tbody>
  <% } %>
</table>