<form id="search-vacancy" name="vacancy" class="form-horizontal">
  <fieldset>
    <legend>Поиск вакансий</legend>

    <div class="control-group">
      <label class="control-label" for="skills">Умения</label>
      <div class="controls">
        <textarea id="skills" rows="1" style="width:200px;"></textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Поиск</button>
      </div>
    </div>

  </fieldset>
</form>

<div id="vacancies-list"></div>