<form id="edit-team" name="team" class="form-horizontal">
  <fieldset>
    <legend>Редактирование команды</legend>
    
    <div class="control-group">
      <label class="control-label" for="name">Имя</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="Имя команды" value="<%= name %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">Описание</label>
      <div class="controls">
        <textarea id="description" name="description" placeholder="Введите описание команды"><%= description %></textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
		    <a href="#" class="btn btn-danger bck">Отмена</a>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>