<h1>
	<%= team.name %>
</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div id="description">
      	<legend>Описание</legend>
		    <p>
          <%= team.description %>
        </p>
        
        <p>
          <a href="/teams/<%=team.id%>/members/join" class="btn btn-primary btn-large">Вступить</a>
        </p>
      </div>
    </div>

    <div class="span2">
      <div id="tasks"></div>
    </div>

    <div class="span2">
      <div id="vacancies"></div>
    </div>

    <div class="span2">
      <div id="members"></div>
    </div>    

  </div>
</div>