<h1>
	<%= team.name %>
</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div id="description">
      	<legend>Описание</legend>
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius tincidunt leo, ut iaculis nisl vulputate et. Curabitur eget feugiat felis. Cras faucibus vulputate luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc lacus odio, lacinia vitae blandit ac, auctor eu nibh. Phasellus accumsan adipiscing est, at faucibus sapien tincidunt eu. Fusce risus justo, vulputate nec faucibus at, dictum non felis. Praesent euismod, ante non eleifend vestibulum, enim mauris feugiat orci, nec ultrices eros odio vitae velit. Proin sit amet nisi elit. Cras vitae elementum libero. Aliquam erat volutpat. Nam lacinia aliquam dolor, ac egestas nisi euismod ut. Aenean eget lacus risus. Nunc purus lectus, lobortis ac imperdiet quis, tincidunt a arcu. Etiam et enim metus, et convallis lectus.
      </div>
    </div>

    <div class="span3">
      <div id="tasks"></div>
    </div>

  </div>
</div>

