<h1>
	<%= team.name %>
</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <div id="description">
      	<legend>Описание</legend>
		    <%= team.description %>
      </div>
    </div>

    <div class="span3">
      <div id="tasks"></div>
    </div>

  </div>
</div>