<a href="/teams/<%=id%>" class="lnk">
  <div class="thumbnail">
    <img src="http://lorempixel.com/400/200/<%=['abstract', 'food', 'people', 'technics', 'anials', 'nightmare', 'nature', 'transport', 'city', 'fashion', 'sports'][Math.floor(11*Math.random())]%>/<%=Math.round(Math.random()*10)%>" width="400" height="200"/>
  </div>
</a>