<form id="new-comment" name="comment" class="form-horizontal">
  <fieldset>
    <legend>Оставить комментарий</legend>

    <div class="control-group">
      <label class="control-label" for="comment">Комментарий</label>
      <div class="controls">
        <textarea type="text" id="comment" name="comment" placeholder="Описание задачи"><%= comment %></textarea>
      </div>
    </div>    

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>