<div class="hero-unit">
  <h1>Dream Team</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ligula felis, egestas euismod consequat eu, malesuada at libero. In urna quam, laoreet non vestibulum sed, tempor quis massa. Nullam sit amet neque leo, malesuada auctor mauris. Fusce lobortis, odio vitae egestas dapibus, diam velit tempor ante, vel rutrum elit velit tincidunt sapien. Nullam aliquam diam nisi, et auctor orci. Sed pulvinar mi id leo consectetur mattis. Morbi convallis laoreet mi eget viverra. Mauris blandit nibh at dolor sodales at cursus sem sollicitudin. Sed scelerisque porta commodo. Cras arcu elit, semper et consequat et, suscipit eu nibh.</p>
  <p>
    <a class="btn btn-primary btn-large" href="/teams">Команды</a>
    <a class="btn btn-success btn-large" href="/teams/new">Создать свою</a>
  </p>
</div>