<h1>Listing tasks</h1>

<table id="tasks-table" class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>
</table>

<br/>

<a href="/teams/<%=team_id%>/tasks/new" class="btn">New Task</a>