<form id="edit-user" name="user" class="form-horizontal">
  <fieldset>
    <legend>Аккаунт</legend>
    
    <div class="control-group">
      <label class="control-label" for="name">Имя</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="Имя" value="<%= name %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">EMail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="EMail" value="<%= email %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="new-password">Новый пароль</label>
      <div class="controls">
        <input type="text" id="new-password" name="new-password" placeholder="Новый пароль">
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>