<form id="new-user" name="user" class="form-horizontal">
  <fieldset>
    <legend>Регистрация</legend>
    
    <div class="control-group">
      <label class="control-label" for="email">EMail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="EMail" value="<%= email %>">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="password">Пароль</label>
      <div class="controls">
        <input type="text" id="password" name="password" placeholder="Пароль" value="<%= password %>">
      </div>
    </div>    

    <div class="control-group">
      <div class="controls">
        <a href="/" class="btn btn-danger">Отмена</a>
        <button type="submit" class="btn btn-primary">Регистрация</button>
      </div>
    </div>

  </fieldset>
</form>