/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.pnotify.default
 *= require_tree .
 */

.first-in-row { margin-left: 0 !important;
}

.team-thumbnail-name {
 	position: absolute;
 	top:4px;
 	left:9px;
 	width:400px;
 	height:200px;
 	text-align:center;
 	line-height:200px;
 	font-size:32px;
 	color:white
}

.controls>textarea {
	width:500px;
	height:250px;
}